* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #ffffe0;
}

h1,
h2,
h3 {
  margin: 0;
}
.side {
  display: block;
  padding: 1em;
}
.fa-times-circle {
  margin: 0.5em;
  color: #778899;
}
.side-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 150px;
  height: 100%;
  background-color: #95f6d2;
  align-self: flex-end;
}
.banner {
  background-color: tomato;
  color: azure;
  text-align: center;
  padding: 1em;
}
.main-content {
  margin: auto;
  max-width: 1200px;
}

.main-header {
  background-color: #d3d3d3;
  color: #778899;
  margin: 0;
  padding: 1em;
}

.item {
  color: #778899;
  text-decoration: none;
  margin: 1em;
}
.nav-bar {
  color: #778899;
}
/*section*/
.col {
  padding: 1em;
  background-color: rgb(207, 131, 131);
  margin: 0.5em;
}

.main-footer {
  background-color: #d3d3d3;
  color: #778899;
  padding: 1em;
}

.see-more-btn {
  width: 100px;
  margin: auto;
  display: flex;

  /* align-items: center; */
}
